<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fanggu.org.hospitaldevicemonitor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_hospital"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
         <!--
        <receiver android:name=".receiver.ConnectionChangeReceiver" android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.NET.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.Net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />

            </intent-filter>
        </receiver>-->

        <receiver android:name=".receiver.ConnectionChangeReceiver">
        </receiver>

        <activity android:name=".activity.VersionUpdateActivity" />

        <activity android:name=".activity.ACacheActivity" >

        </activity>

        <service android:name=".service.UpdateService"
            android:enabled="true" />

        <activity android:name=".activity.TwoDimensionCodeActivity">

        </activity>

        <activity android:name=".activity.HomePageActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>